Repository aaron031291/Grace-, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grace-team, @event-team, @kernel-team, @governance-team, @trust-team, @memory-team, @devops-team, @docs-team, @config-team

.github/CODEOWNERS:

# Code owners for Grace repository
# These users/teams will be automatically requested for review

# Core system
/grace/core/ @grace-team
/grace/config.py @grace-team

# Event system
/grace/events/ @grace-team @event-team
/grace/integration/event_bus.py @grace-team @event-team
/grace/trigger_mesh.py @grace-team @event-team
/grace/schemas/events.py @grace-team @event-team

# Kernels
/grace/kernels/ @kernel-team

# Governance & Trust
/grace/governance/ @governance-team
/grace/trust/ @trust-team

# Memory
/grace/memory/ @memory-team

# CI/CD
/.github/workflows/ @devops-team
/scripts/ @devops-team

# Documentation
/documentation/ @docs-team
*.md @docs-team

# Configuration
/config/ @config-team

update
  scripts/auto_fix_issues.py
  scripts/check_imports.py
  scripts/forensic_analysis.py
Owners: @devops-team

update
  forensic_report.json
  scripts/show_fixes_summary.py
Owners: @devops-team

update
  ^^^^^^^^^^^^^^^^^^^^^^^^^
  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  grace/consciousness/__init__.py
  grace/core/flow_controller.py
  grace/core/semantic_bridge.py
  grace/db/__init__.py
  grace/demos/__init__.py
  grace/immune_system/__init__.py
  grace/mcp/gateway.py
  grace/session/__init__.py
  grace/utils/__init__.py
  scripts/fix_all_critical_issues.py
Owners: @grace-team, @devops-team

update
  .vscode/settings.json
  scripts/apply_pattern_fixes.sh
  scripts/measure_fix_impact.py
  scripts/pattern_fixes.py
Owners: @devops-team

update
  docs/PATTERN_FIXES.md
  scripts/quick_start_fixes.sh
Owners: @docs-team, @devops-team

update
  docs/GRACE_ANALYSIS.md
Owners: @docs-team

update
  grace/orchestration/README.md
  grace/orchestration/__init__.py
  grace/orchestration/event_router.py
  grace/orchestration/workflow_engine.py
  grace/orchestration/workflow_registry.py
  grace/orchestration/workflows/__init__.py
  grace/orchestration/workflows/trigger_mesh_workflows.yaml
  grace/schemas/event_schemas.yaml
  scripts/demo_triggermesh.py
  scripts/manage_workflows.py
Owners: @docs-team, @devops-team

update
  grace/kernels/__init__.py
  grace/kernels/meta_kernel.py
  grace/orchestration/event_router.py
  grace/orchestration/workflow_engine.py
  grace/transcendence/__init__.py
  grace/transcendence/code_generator.py
  grace/transcendence/sandbox_manager.py
Owners: @kernel-team

update
  .vscode/settings.json
Owners: none

update
  .github/workflows/ci.yaml
  grace/agents/remote_agent.py
  grace/consciousness.py
  grace/core/__init__.py
  grace/core/component_registry.py
  grace/core/event_bus.py
  grace/core/immutable_logs.py
  grace/core/kpi_trust_monitor.py
  grace/kernels/cognitive_cortex.py
  grace/kernels/sentinel_kernel.py
  grace/services/communication_channel.py
  grace/services/llm_service.py
  grace/services/notification_service.py
  grace/services/task_manager.py
  main.py
Owners: @devops-team, @grace-team, @kernel-team

update
  grace/api.py
  grace/frontend/app.js
  grace/frontend/index.html
  grace/frontend/style.css
  main.py
  requirements.txt
Owners: none

update
  grace/api.py
  grace/kernels/mldl_kernel.py
  grace/kernels/mtl_kernel.py
  grace/mcp/__init__.py
  grace/mcp/code_generation.py
  grace/mcp/manager.py
  grace/mcp/protocol.py
  grace/mcp/search_tool.py
  grace/mcp/vector_store.py
  grace/ml/ml_specialist.py
  grace/services/memory_service.py
  grace/services/multi_modal_ingestor.py
  main.py
Owners: @kernel-team

update
  grace/kernels/resilience_kernel.py
  grace/kernels/swarm_kernel.py
  grace/services/observability.py
  grace/services/policy_engine.py
  grace/services/trust_ledger.py
  grace/services/websocket_service.py
Owners: @kernel-team

update
  grace/immune_system/avn_healer.py
  grace/immune_system/core.py
  grace/immune_system/threat_detector.py
  main.py
Owners: none

update
  ARCHITECTURE_REFACTORED.md
  grace/agents/__init__.py
  grace/consciousness/__init__.py
  grace/core/__init__.py
  grace/core/truth_layer.py
  grace/kernels/__init__.py
  grace/kernels/meta_learning_kernel.py
  grace/orchestration/__init__.py
  grace/orchestration/trigger_mesh.py
  grace/perception/monitor.py
  grace/services/__init__.py
Owners: @docs-team, @grace-team, @kernel-team

update
  ARCHITECTURE.md
  ARCHITECTURE_VISUAL.txt
  grace/consciousness/__init__.py
  grace/layers/layer0_runtime.py
  grace/layers/layer1_truth.py
  grace/mcp/__init__.py
  grace/mcp/manager.py
  main.py
Owners: @docs-team

update
  ARCHITECTURE_4LAYER.md
  DELETION_AUDIT.md
  grace/infra/__init__.py
  grace/truth/__init__.py
Owners: @docs-team

update
  CLEANUP_LOG.md
  main.py
Owners: @docs-team

update
  .env.production.example
  ARCHITECTURE.md
  ARCHITECTURE_4LAYER.md
  ARCHITECTURE_VISUAL.txt
  CLEANUP_REPORT.md
  COMPREHENSIVE_TEST_ERRORS.json
  COMPREHENSIVE_TEST_RESULTS.md
  DELETION_AUDIT.md
  DELETION_MANIFEST.md
  cleanup.sh
  create_missing_components.sh
  grace/kernels/__init__.py
  grace/services/__init__.py
Owners: @docs-team, @kernel-team

update
  CLEANUP_EXECUTION.md
  FINAL_CLEANUP_INSTRUCTIONS.md
  FINAL_CLEANUP_SUMMARY.md
  FINAL_CLEANUP_VISUAL.txt
  FINAL_STRUCTURE_GUIDE.md
  FINAL_STRUCTURE_MAP.md
  final_cleanup.sh
Owners: @docs-team

update
  grace/MERGE_AVN_IMMUNE_PLAN.md
  grace/MERGE_AVN_IMMUNE_SUMMARY.md
  grace/MERGE_AVN_IMMUNE_VISUAL.txt
  grace/clarity/clarity_framework/__init__.py
  grace/clarity/clarity_framework/base_component.py
  grace/clarity/clarity_framework/component_manifest.py
  grace/clarity/clarity_framework/enhanced_event_bus.py
  grace/clarity/clarity_framework/loop_output.py
  grace/clarity/clarity_framework/orchestrator.py
  grace/diagnostics/WIRING_AUDIT_COMPLETE.md
  grace/diagnostics/WIRING_AUDIT_SUMMARY.md
  grace/diagnostics/WIRING_QUICK_REFERENCE.txt
  grace/diagnostics/WIRING_VERIFICATION.md
  grace/diagnostics/wiring_audit.py
  grace/merge_avn_immune.sh
Owners: @docs-team

update
  grace/MERGE_AVN_IMMUNE_COMPLETE.md
Owners: @docs-team

update
  grace/demo/demos/__init__.py
  grace/demo/demos/complete_system_demo.py
  verify_system.sh
Owners: none

update
  grace/database/__init__.py
  grace/database/migrations/create_auth_tables.sql
  grace/db/README_PHASE_A.md
  grace/db/__init__.py
  grace/db/models_phase_a.py
  grace/db/models_phase_b.py
  grace/db/models_phase_c.py
  grace/db/session.py
  grace/memory/db/ddl/memory.sql
  verify_system.py
Owners: @docs-team, @memory-team

update
  grace/KERNEL_SERVICE_AUDIT.md
  grace/KERNEL_SERVICE_COMPLETE_REPAIR_PLAN.md
  grace/KERNEL_SERVICE_PHASES_2_4_COMPLETE.md
  grace/KERNEL_SERVICE_QUICK_START.md
  grace/KERNEL_SERVICE_REPAIR_SUMMARY.md
  grace/core/service_registry.py
  grace/kernels/__init__.py
  grace/kernels/base_kernel.py
  grace/kernels/learning_kernel.py
  grace/kernels/orchestration_kernel.py
  grace/kernels/resilience_kernel.py
  grace/launcher.py
  grace/multi_os/__init__.py
  grace/multi_os/core.py
  main.py
Owners: @docs-team, @grace-team, @kernel-team

update
  CRITICAL_FIX_REQUIRED.md
  IMPORT_ERROR_ROOT_CAUSE.md
  complete_fix_and_verify.py
  direct_fix_gtrace.py
  fix_all_imports.py
  fix_immutable_logs.py
  fix_now.py
  grace/core/gtrace.py
  import_audit_and_fix.py
Owners: @docs-team, @grace-team

feat: Implement real kernels, unified launcher, and fix critical errors
  FIX_AND_VERIFY_READY.md
  push_to_github.sh
Owners: @docs-team
